@mixin flexBoxMixin($direction, $alignItems, $justifyContent, $gap) {
	display: flex;
	flex-direction: $direction;
	align-items: $alignItems;
	justify-content: $justifyContent;
	gap: $gap;
}

@mixin positionMixin($position, $top, $right, $bottom, $left) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin pseudoMixin($context, $top, $right, $bottom, $left, $width) {
	position: absolute;
	content: $context;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	width: $width;
	aspect-ratio: 1;
}
