nav {
  position: sticky;
  top: 0;
  right: none;
  bottom: none;
  left: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: none;
  width: 100%;
  height: 79px;
  padding: 20px 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #f5f5f5;
  z-index: 1;
}
nav .navlinks,
nav .navIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
nav .navlinks {
  font-size: 18px;
  width: -moz-fit-content;
  width: fit-content;
}
nav .navlinks li {
  color: rgba(51, 51, 51, 0.5);
}
nav .navlinks .active {
  color: #333333;
  font-weight: bold;
}
nav .navIcons input {
  width: 30px;
  aspect-ratio: 1;
}

footer {
  height: 185px;
  padding: 30px;
}
footer input {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
footer,
footer .footerLinks {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: space-between;
  gap: none;
}
footer .logoContainer {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: space-between;
  gap: none;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
footer .footerLinks {
  width: 680px;
}
footer .footerLinks p,
footer .footerLinks span,
footer .footerLinks a {
  font-size: 12px;
}
footer .footerLinks_container {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  gap: 5px;
}
footer .footerLinks_container h3 {
  font-weight: 800;
}
footer .footerLinks_input {
  position: relative;
}
footer .footerLinks_input input[type=text] {
  background-color: #cfcfcf;
  border: none;
  padding: 5px 11px;
}
footer .footerLinks_input input[type=image] {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: none;
  left: none;
  transform: translateY(-50%);
  padding: 0 11px;
  border-left: 1px solid #333333;
}
footer .footerLinks_socialIcon {
  margin-top: 18px;
}

.homeMainBg_img,
.homeSecondContainer_img,
.homeThirdContainer_img {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: center;
  gap: none;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.homeMainBg {
  height: 576px;
  position: relative;
}
.homeMainBg_img {
  width: 1002px;
  background-color: #cfcfcf;
}
.homeMainBg_floatContext {
  position: absolute;
  top: 50%;
  right: 10%;
  bottom: none;
  left: none;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: center;
  gap: 45px;
  transform: translateY(-50%);
  text-align: center;
  width: 500px;
}
.homeMainBg_floatContext p {
  letter-spacing: 6px;
  font-weight: bold;
  position: relative;
}
.homeMainBg_floatContext p::after {
  position: absolute;
  content: "6.30.99";
  top: 50%;
  right: 0;
  bottom: none;
  left: none;
  width: 50px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: none;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 9px;
  color: #f5f5f5;
  background-color: #e86965;
  letter-spacing: 0;
}
.homeMainBg_floatContext h2 {
  font-size: 51px;
  font-weight: 800;
  letter-spacing: 5px;
}

.homeSecondContainer,
.homeThirdContainer {
  height: 580px;
}
.homeSecondContainer_img,
.homeThirdContainer_img {
  width: 100%;
}

.homeSecondContainer_img {
  background-color: rgba(237, 204, 87, 0.5);
}
.homeSecondContainer_card::before {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: none;
  position: absolute;
  content: "Sale";
  top: 20%;
  right: none;
  bottom: none;
  left: 0;
  color: #f5f5f5;
  background-color: #edcc57;
  padding: 5px 10px;
  font-size: 16px;
}

.homeThirdContainer_img {
  background-color: rgba(232, 105, 101, 0.5);
}
.homeThirdContainer_card::before {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: none;
  position: absolute;
  content: "Sale";
  top: 20%;
  right: 0;
  bottom: none;
  left: none;
  color: #f5f5f5;
  background-color: #edcc57;
  padding: 5px 10px;
  font-size: 16px;
}
.homeThirdContainer_card::after {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: none;
  position: absolute;
  content: "Hot";
  top: 26%;
  right: 0;
  bottom: none;
  left: none;
  color: #f5f5f5;
  background-color: #e86965;
  padding: 5px 10px;
  font-size: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  text-align: center;
  width: 407px;
  padding: 0 9px;
}
.card span {
  font-weight: bold;
}
.card div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
}
.card div > *:nth-child(1) {
  color: rgba(51, 51, 51, 0.5);
  text-decoration: line-through;
}

.button {
  cursor: pointer;
}

.logo {
  position: relative;
  font-size: 32px;
  letter-spacing: 5px;
  font-weight: 800;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.logo::after {
  content: "";
  position: absolute;
  top: none;
  right: none;
  bottom: 5%;
  left: none;
  width: 6px;
  aspect-ratio: 1;
  background-color: #e86965;
  border-radius: 50%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #333333;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  top: none;
  right: none;
  bottom: none;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  max-width: 1280px;
  background-color: #f5f5f5;
}
body,
body .pageContainer.activePage {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  gap: 10px;
}
body .pageContainer {
  width: 100%;
  display: none;
}
body .pageContainer > * {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: none;
  gap: none;
}/*# sourceMappingURL=style.css.map */