@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.loadingIndicator {
	@include flexBoxMixin(none, center, center, none);
	height: 100vh;
	width: 100%;
	background-color: $white;
	color: $black;
	font-size: 24px;
	font-weight: bold;
}
