@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

.logo {
	position: relative;
	font-size: 32px;
	letter-spacing: 5px;
	font-weight: 800;
	line-height: 1;
	user-select: none;

	&::after {
		content: "";
		@include positionMixin(absolute, none, none, 5%, none);
		width: 6px;
		aspect-ratio: 1;
		background-color: $red;
		border-radius: 50%;
	}
}
