@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

.notFoundMessage {
	@include flexBoxMixin(none, center, center, none);
	height: calc(100vh - ($navBarHeight + $footerHeight));
	width: 100%;
	background-color: $white;
	color: $black;
	font-size: 24px;
	font-weight: bold;
}
