@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.homeMainBg_img,
.homeSecondContainer_img,
.homeThirdContainer_img {
	@include flexBoxMixin(row, none, center, none);
}

img {
	user-select: none;
}

.homeMainBg {
	height: 576px;
	position: relative;

	&_img {
		width: 1002px;
		background-color: $gray;
	}

	&_floatContext {
		@include positionMixin(absolute, 50%, 10%, none, none);
		@include flexBoxMixin(column, none, center, 45px);
		transform: translateY(-50%);
		text-align: center;
		width: 500px;

		p {
			letter-spacing: 6px;
			font-weight: bold;
			position: relative;

			&::after {
				@include pseudoMixin("6.30.99", 50%, 0, none, none, 50px);
				@include flexBoxMixin(row, center, center, none);
				transform: translateY(-50%);
				border-radius: 50%;
				font-size: 9px;
				color: $white;
				background-color: $red;
				letter-spacing: 0;
			}
		}
		h2 {
			font-size: 51px;
			font-weight: 800;
			letter-spacing: 5px;
		}
	}
}

.homeSecondContainer,
.homeThirdContainer {
	height: 580px;

	&_img {
		width: 100%;
	}
}

.homeSecondContainer {
	&_img {
		background-color: rgba($yellow, 0.5);
	}

	&_card::before {
		@include cardPseudoMixin("Sale", 20%, none, none, 0, $yellow);
	}
}

.homeThirdContainer {
	&_img {
		background-color: rgba($red, 0.5);
	}

	&_card::before {
		@include cardPseudoMixin("Sale", 20%, 0, none, none, $yellow);
	}
	&_card::after {
		@include cardPseudoMixin("Hot", 26%, 0, none, none, $red);
	}
}
