@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

nav {
	@include positionMixin(sticky, 0, none, none, none);
	@include flexBoxMixin(row, center, space-between, none);
	width: 100%;
	height: $navBarHeight;
	padding: 20px 30px;
	user-select: none;
	background-color: $white;
	z-index: 1;

	.navlinks,
	.navIcons {
		@include flexBoxMixin(row, center, center, 10px);
	}

	.navlinks {
		font-size: 18px;
		width: fit-content;

		li {
			color: rgba($black, 0.5);
		}

		.active {
			color: $black;
			font-weight: bold;
		}
	}

	.navIcons {
		input[type="image"] {
			width: 30px;
			aspect-ratio: 1;
		}

		.search {
			&_container {
				@include flexBoxMixin(row, center, center, none);
				padding: 0 !important;
			}

			&_inputText.activeInput {
				display: block;
			}

			&_inputText {
				display: none;
				border-radius: 5px;
				border: 1px solid $black;
				padding: 0 0 0 5px;
				height: 30px;
			}

			&_Icon.activeIcon {
				padding: 3px;
			}
		}
	}
}
